/* header */
.top-navigation {
    display: flex;

}

.header-border {

    border-bottom: 1px solid #eceeec;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: $color_logo;
}

.span-logo {
    color: $accented;
}

/* Шапка сайту*/
.menu {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: $minor;
}

.menu-list {
    display: flex;
    margin-left: 93px;

}

.menu.current {
    position: relative;

    color: $accented;

}

.menu.current:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background-color: $accented;
    border-radius: 2px;
}

.menu-item {
    margin-left: 50px;
}

.list-contakts {
    display: flex;
    margin-left: auto;
}

.list-contakts>.item {
    margin-left: 50px;
}

.header-contakt {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: $basic;
}

.svg-contact {
    margin-right: 10px;
    fill: currentColor;
}